@inherits UmbracoViewPage<OpeningSoonModel>
@using Our.Umbraco.OpeningSoon
@*
    Simple example of using opening times model,
    this partial would be passed the value of the opening time property.

    e.g

    @Html.Partial("OpeningTimes", Model.OpeningTimes)
    
    or 
    
    @Html.Partial("OpeningTimes, Model.Value("OpeningTimes"))
*@
@if (Model != null)
{
    <table itemprop="openingHoursSpecification"
           itemscope=""
           itemtype="http://schema.org/OpeningHoursSpecification"
           class="table">

        @foreach (var opening in Model)
        {
            <tr>
                <td itemprop="dayOfWeek"
                    datetime="@opening.Weekday">
                    @opening.Weekday
                </td>

                @if (opening.IsScheduled == true)
                {
                    <td itemprop="opens">@opening.Open</td>
                    <td itemprop="closes">@opening.Close</td>

                    if (opening.IsSecondSet)
                    {
                        <td itemprop="opens">@opening.Open2</td>
                        <td itemprop="closes">@opening.Close2</td>
                    }
                }
            </tr>
        }

    </table>
}

